/* Common styles */

.body { font-family:  sans-serif;


}

a {text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Header Styles */
.header {

}
.header-nav {

}
.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em; 
    color: #111111;
}

.header-logo-italic {

    font-style: italic;
}

.logo-img {

}
.header-list {

}
.header-item {

}
.header-link {

}
.header-networks {

}
.header-networks-item {

}
.header-networks-link {

}


.main {
}

/* Hero Section */

.section {
}

.hero {
}

.hero-title {
}

.hero-btn {
}

.hero-btn-link {
}